div.main-nav a{
    padding: 5px;
}

span.status-open {
    color: hsl(90.5, 100%, 49.4%);
}

span.status-closed {
    color: hsl(25, 100%, 34.5%);
}

span.status-private {
    color: hsl(182.5, 100%, 34.9%);
}

table.game-list-view tr, div.lobby-header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.lobby-header {
    height: 10px;
    margin-top: 10px;
    background-color: hsl(24.8, 100%, 50%);
}

div.app-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table.game-list-view td:first-child{
    width: 128px;
}

table.game-list-view td:first-child{
    font-weight: bold;
}

div.game-list ul li{
    list-style: none;
    padding: 3px;
}

div.game-list ul li.selected{
    color: orange;
    font-weight: bold;
    border-color: orange;
    border-style: solid;
    border-width: thin;
    max-width: min-content;
    max-width: -moz-fit-content;
    max-width: -webkit-fit-content;
}

div.game-list ul li:hover{
    font-weight: bold;
    cursor: pointer;
}

span.player-tag {
    font-family: Courier New, Courier, monospace;
}

span.lobby-host {
    color: hsl(0, 100%, 39.8%);
}
