<h2><%= @lobby.title %></h2>

<ul>
  <li>
    <strong>Finished at:</strong>
    <%= @lobby.finished_at %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @lobby.status %>
  </li>

</ul>

<%= link "Edit", to: lobby_path(@conn, :edit, @lobby) %> 

<%= link "Back", to: lobby_path(@conn, :index) %> 

<%= link "Join", to: lobby_path(@conn, :join, @lobby.id) %>
